@model AdminBoard.Models.SetViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col">
        <div class="card w-75 mx-auto">
            <div>
                <h3 class="pt-4 text-center"> Create new fuzzy set</h3>
                <form method="post" asp-controller="Set" asp-action="Create" class="p-4">
                    @*Name*@
                    <div class="form-group">
                        <label for="nameInput">Name</label>
                        <input type="text" class="form-control" id="nameInput" placeholder="Enter fuzzy set name" asp-for="Name">
                    </div>

                    @*Type*@
                    <div class="form-group">
                        <label for="typeSelect">Type</label>
                        <select class="form-control" id="typeSelect" asp-for="Type">
                            <option selected>Input</option>
                            <option>Output</option>
                        </select>
                    </div>

                    @*SelectSubsystem*@
                    <div class="form-group">
                        <label for="set">Select <i>Subsystem</i> to assign <i>Set</i> to</label>
                        <select class="form-control" asp-for="SelectedSubsystems" name="SelectedSubsystems" asp-items="Model.AllSubsystems" multiple></select>
                    </div>

                    @*Save*@ 
                    <div class="form-group w-100 mx-auto">
                        <div class="input-group-addon text-center" id="buttons">
                            <button class="btn btn-outline-success" type="submit">Save</button>
                            <a class="btn btn-outline-warning" href="@Url.Action("Index", "Set")">Back</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

