@model AdminBoard.Models.RuleViewModel

@{ 
    ViewData["Title"] = "Create";
}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="row">
    <div class="col">
        <div class="card w-75 mx-auto">
            <div>
                <h3 class="pt-4 text-center"> Create new fuzzy rule</h3>
                <form method="post" asp-controller="Rules" asp-action="Create" class="p-4">
                    @*Input1*@
                    <div class="form-group">
                        <label for="InputValue1Representation"> Select first input value: </label>
                        <select class="form-control" asp-for="InputValue1Representation" asp-items="Model.InputList1"></select>
                    </div>

                    @*Input2*@
                    <div class="form-group add">
                        <label for="InputValue2Representation"> Select second input value: </label>
                        <select class="form-control" asp-for="InputValue2Representation" asp-items="Model.InputList2"></select>
                    </div>
                     
                    @*Input2Disabled*@
                    <div class="form-group">
                        <label for="Input2Disabled"> Check box if rule is consisted of only one value:   </label>
                        <input type="checkbox" id="Input2Disabled" asp-for="Input2Disabled">
                    </div>

                    @*Output*@
                    <div class="form-group">
                        <label for="OutputValueRepresentation"> Select output value: </label>
                        <select class="form-control" asp-for="OutputValueRepresentation" asp-items="Model.OutputList"></select>
                    </div>
                    @*Operator*@
                    <div class="form-group add">
                        <label> Select operator: </label>
                        <select class="form-control" asp-for="Operator">
                            <option value="AND" selected> AND </option>
                            <option value="OR"> OR </option>
                        </select>
                    </div>

                    @*SelectSubsystem*@
                    <div class="form-group">
                        <label for="set">Select <i>subsystem</i> to assign <i>this rule</i> to</label>
                        <select class="form-control" asp-for="SubsystemRepresentation" asp-items="Model.SubsystemList"></select>
                    </div>

                    @*Save*@
                    <div class="form-group w-100 mx-auto">
                        <div class="input-group-addon text-center" id="buttons">
                            <button class="btn btn-outline-success" type="submit">Save</button>
                            <a class="btn btn-outline-warning" href="@Url.Action("Index", "Rules")">Back</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    const UpdateCheckbox = () => {
        if (document.getElementById('Input2Disabled').checked) {
            window.alert("checked");
            $('.add').hide();
        }
        else {
            window.alert("removed");
            $('.add').show();
        }
    };

    $("#Input2Disabled").change(() => { UpdateCheckbox() });

    
</script>