@{
    ViewData["Title"] = "Dashboard";
}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<div class="row">
    <div class="col">
        <div class="card">
            <!-- Card header -->
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-12">
                        <h3 class="mb-0">Welcome to AdminBoard</h3>
                    </div>
                </div>
            </div>
            <div class="card-body border-0">
                <h4>
                    How to use:
                </h4>
                <h6 class="heading-small text-muted mb-4">
                    1. Filling up Fuzzy data
                </h6>
                <div class="row m-3">
                    Before starting GreenhouseCore application, you need to define fuzzy subsystems, rules, values and sets. 
                    You can find forms for creating, editing them in left navigation list.
                </div>
                <h6 class="heading-small text-muted mb-4">
                    2. Validating connection to remote computer
                </h6>
                <div class="row m-3">
                    This step is consistent of entering IP adress of remote computer and pressing button to check if remote connection to RaspberryPi is working 
                    properly. Green message will appear if everything works and red if connection cannot be established.
                </div>
                <div class="row m-1">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label" for="webhookadress">Webhook of remote computer</label>
                            <input type="text" id="webhookadress" class="form-control" value="http://192.168.1.99:5006/ping" readonly>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label" for="webhooktrigger">Trigger webhook</label>
                            <input type="button" id="webhooktrigger" class="form-control" value="Ping remote computer">
                        </div>
                    </div>
                </div>
                <h6 class="heading-small text-muted mb-4">
                    3. Starting GreenhouseCore application on remote computer
                </h6>
                <div class="row m-3">
                    Application should be started manually on machine, and results can be read on output console.
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById("webhooktrigger").onclick = function () {
        document.getElementById("webhooktrigger").style.backgroundColor = "CadetBlue";
        var url = $("#webhookadress").val();

        $.ajax(url,
            {
                timeout: 2000,
                success: function (data, status, xhr) {
                    alert(status)
                },
                error: function (data, status, xhr) {
                    console.log(data);
                }
            }
        );
    };
</script>